In [1]:
#  ham or spam detection on sms data set using naive bayes model 
use text data mostly

In [2]:
#Data handling libraries
import pandas as pd
import numpy as np
#Data Preprocessing libraries
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_table('SMSSpamCollection', names= ['label' ,'message'])

In [4]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [6]:
le = LabelEncoder()
df['label'] = le.fit_transform(df['label'])

In [7]:
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

# count  vectorisation

In [8]:
# just  type random statements

In [9]:
msg=['Hi I have reached home',
     'You have won a lottery of Lakh rupees',
     'How are you','Good morning',
     'Hi this is Sawan from INDIA',
     'Congratulations you have won a lottery',
     'Good morning morning']

In [10]:
msg

['Hi I have reached home',
 'You have won a lottery of Lakh rupees',
 'How are you',
 'Good morning',
 'Hi this is Sawan from INDIA',
 'Congratulations you have won a lottery',
 'Good morning morning']

In [11]:
cv = CountVectorizer()
cv.fit(msg)

CountVectorizer()

In [12]:
words = cv.get_feature_names()

C:\Users\Device Computer\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [13]:
matrix=cv.transform(msg).toarray()

In [14]:
df_eg = pd.DataFrame(data= matrix,columns=words)

In [15]:
df_eg

,are,congratulations,from,good,have,hi,home,how,india,is,lakh,lottery,morning,of,reached,rupees,sawan,this,won,you
0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,1,1,0,1,0,1,0,0,1,1
2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,1,0,0,1,0,0,1,1,0,0,0,0,0,0,1,1,0,0
5,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1
6,0,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0

##  count vector implementation on sms data

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   int32
 1   message  5572 non-null   object
dtypes: int32(1), object(1)
memory usage: 65.4+ KB

In [17]:
cv=CountVectorizer()

In [18]:
x = df['message']
y = df['label']

In [21]:
cv.fit(x)

CountVectorizer()

In [22]:
unique_words=cv.get_feature_names()

C:\Users\Device Computer\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [23]:
len(unique_words)

8713

In [24]:
count=cv.transform(x).toarray()

In [25]:
df_message=pd.DataFrame(data=count,columns=unique_words)

In [26]:
df_message

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

  # model  building 
  import train test libraries

In [27]:
x_train,x_test,y_train,y_test=train_test_split(df_message,y,test_size=0.3,random_state=1)

In [28]:
nb = MultinomialNB()

In [29]:
nb.fit(x_train,y_train)

MultinomialNB()

In [30]:
y_pred=nb.predict(x_test)

In [31]:
accuracy_score(y_test,y_pred)

0.9838516746411483

# Cross  validation on above set

In [32]:
cv=cross_val_score(estimator=MultinomialNB(),X=df_message,y=y,cv=10)

In [33]:
cv

array([0.98207885, 0.97849462, 0.97845601, 0.98025135, 0.97845601,
       0.97845601, 0.98204668, 0.98384201, 0.97127469, 0.99102334])

In [34]:
cv.mean()

0.9804379580831772